/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ccc;
}

/* Barra de navegación */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo y título */
.logo-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.titulo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Menú de navegación */

nav {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.navi {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navi li {
    margin: 0 15px;
}

.navi a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.navi a:hover {
    color: #FFD700;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
